<!DOCTYPE HTML>
<html xmlns:th="http://thymeleaf.org">
<head>
	<title>Adresses</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">  
</head>
<body class=container>
	<h1>Les différentes adresses</h1>
	<ul th:each="address: ${allAddresses}">
		<li th:utext="${address.content} + '<br /> (posté par ' + ${address.author} + ')'" />
	</ul>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>  
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script> 
</body>
</html>